<!DOCTYPE html>
<html>

<head>
  <title>Bench BnB</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ1zSCwo8-H5LVB92nTY7ALt_RNvSmGU8"></script>

</head>

<body>

<%= yield %>

</body>

</html>
